<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.HelloWorldWithContainer.CS" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>HelloWorldWithContainer C# Sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RestfulObjects.WSA.App">
      <VisualElements DisplayName="GWSACORO: Generic WSA Client on Restful Objects" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Generic WSA Client on Restful Objects" ForegroundText="light" BackgroundColor="#00b2f0">
        <DefaultTile ShowName="allLogos" ShortName="GWSACORO" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#00b2f0" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>