<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="NakedObjects.Ide" version="4.4.0" targetFramework="net40" />
  <package id="NakedObjects.ProgrammingModel" version="5.3.0" targetFramework="net40" />
</packages>